{% extends 'article_app/base.html' %}

{% block meta_title %}Category page{% endblock meta_title %}

{% block title %}Categories{% endblock title %}

{% block content %}
    {% if object_list %}
        <div class="row">

            <div class="col-sm-8 blog-main">
                {% for category in object_list %}
                    <!--<div class="blog-post">-->
                        <p>{{ category.name }}</p>
                    <!--</div> /.blog-post -->
                {% endfor %}
            </div><!-- /.blog-main -->

        </div><!-- /.row -->
    {% else %}
        Category no yet
    {% endif %}
{% endblock content %}
